{% extends "hello/layout.html" %}
{% block title %}
    Add an application
{% endblock %}
{% block content %}
{% if user.is_superuser %}
    <h6>Please submit this form with new application details</h6>
    <form method="POST" class="form-control">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Add Application</button>
    </form>
{% else %}
    <p>You do not have permissons to add a new application</p>
    <p>Please contact and Admin if you require this access</p>
{% endif %}
{% endblock %}