{% extends "hello/layout.html" %}
{% block title %}
    Add an application
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
    <br>
    <h3>We are currently supporting:</h3>
    <br>
    {% for app in app_list %}
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ app.applicationname }}</h5>
          <p class="card-text">
            <ul>
                <li>{{ app.description }}</li>
                <li>{{ app.contactemail }}</li>
            </ul>
          </p>
          <a href="{% url 'showapplication' app.id %}" class="btn btn-primary">View Details</a>
          <a href="{% url 'update_application' app.id %}" class="btn btn-primary">Update Application</a>
          {% if user.is_superuser %}
          <a href="{% url 'delete_application' app.id %}" class="btn btn-outline-danger">Delete Application</a>
          {% endif %}
        </div>
      </div>
    <br/>
    {% endfor %}
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}