{% extends "hello/layout.html" %}
{% block title %}
    Add an application
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
    <h6>Please submit this form with new application details</h6>
    <form method="POST" class="form-control">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Add Application</button>
    </form>
    <h3>Application List</h3>
    {% for app in app_list %}
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Severity: {{ app.spplicationname }}</h5>
          <p class="card-text">
            <ul>
                <li>{{ app.description }}</li>
                <li>{{ app.contactemail }}</li>
            </ul>
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    <br/>
    {% endfor %}
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}