{% extends "hello/layout.html" %}
{% block title %}
    Home
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
    Hi {{ user.username }}!
    <br/>
    <p class="bold">Welcome to the Help Desk Application</p>
    <p>Please ensure all tickets that are raised are well-defined and contain meaningful information so that our technicians' can action your request as soon as possible.</p>
    <p>All tickets are visible in severity order as they are prioritised in that way</p>
    <a href="{% url 'log' %}">Click here to raise a ticket</a>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}
