{% extends "hello/layout.html" %}
{% block title %}
    Open Tickets
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
    <h2>Open Tickets</h2>
    {% for ticket in ticket_list %}
    <div class="card">
        <div class="card-header">
        {{ ticket.subject }}
        </div>
        <div class="card-body">
          <h5 class="card-title">Severity: {{ ticket.severity }}</h5>
          <p class="card-text">
            <ul>
                <li>{{ ticket.name }}</li>
                <li>{{ ticket.email }}</li>
                <li>{{ ticket.appname }}</li>
                <li>{{ ticket.message }}</li>
                <li>{{ ticket.log_date }}</li>
            </ul>
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    <br/>
    {% endfor %}
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}
