{% extends "hello/layout.html" %}
{% block title %}
    Open Tickets
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
    <h2>Open Tickets</h2>
    {% for ticket in ticket_list %}
    <div class="card">
        <div class="card-header">
        {{ ticket.subject }}
        </div>
        <div class="card-body">
          <h5 class="card-title">Severity: {{ ticket.severity }}</h5>
          <p class="card-text">
            <ul>
                <li>{{ ticket.assign }}</li>
                <li>{{ ticket.email }}</li>
                <li>{{ ticket.applicationname }}</li>
                <li>{{ ticket.message }}</li>
                <li>{{ ticket.log_date }}</li>
            </ul>
          </p>
          <a href="{% url 'showticket' ticket.id %}" class="btn btn-primary">View Details</a>
          <a href="{% url 'update_ticket' ticket.id %}" class="btn btn-primary">Update Ticket</a>
          {% if user.is_superuser %}
          <a href="{% url 'delete_ticket' ticket.id %}" class="btn btn-outline-danger">Delete Ticket</a>
          {% endif %}
        </div>
      </div>
    <br/>
    {% endfor %}
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}
