<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'hello/bootstrap.css' %}"/>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light"style="background-color: #457fa9;">
        <a class="navbar-brand">Welcome to the Help Desk Application</a>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="/accounts/login/">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register/">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/password_reset">Reset Password</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin">Admin Login</a>
            </li>
          </ul>
        </div>
      </nav>
<div class="body-content">
    {% block content %}
    {% endblock %}
    <hr/>
    <footer>
        <p>&copy; 2022</p>
    </footer>
</div>
</body>
</html>
